

@charset "UTF-8";

/* find-a-specialist: */

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../assets/fonts/gilroy/gilroy-regular.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../assets/fonts/gilroy/gilroy-light.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../assets/fonts/gilroy/gilroy-medium.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../assets/fonts/gilroy/gilroy-bold.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy-Extra-Bold';
  src: url("../assets/fonts/gilroy/gilroy-extra-bold.otf") format("opentype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../assets/fonts/montserrat/montserrat-bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Extra-Bold';
  src: url("../assets/fonts/montserrat/montserrat-extra-bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Extra-light';
  src: url("../assets/fonts/montserrat/montserrat-extra-light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../assets/fonts/montserrat/montserrat-light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../assets/fonts/montserrat/montserrat-medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../assets/fonts/montserrat/montserrat-regular.ttf") format("truetype");
}

.nav {
  max-width: 90%;
  margin: 3% auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 330px;
}

.nav .headline {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 130px 30px minmax(652px, 875px);
  grid-template-columns: 130px minmax(652px, 875px);
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 8rem;
  display: grid;
  align-items: center;
  -ms-grid-columns: 130px 30px minmax(652px, 875px);
  grid-template-columns: 130px minmax(652px, 875px);
  grid-column-gap: 30px;
      grid-template-areas: 'logo title'
 'logo desc';
}

.nav .headline .logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: logo;
  max-width: 130px;
}

.nav .headline .page-title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: title;
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 9rem;
  max-width: 875px;
  width: 875px;
}

.nav .headline .desc {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: desc;
  font-size: 3rem !important;
  color: #FFF;
  opacity: 0.4;
}

.nav .offers {
  font-size: 3rem !important;
  color: #FFF;
  opacity: 0.4;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'case . offer';
  -ms-grid-columns: 217px 60px 630px;
  grid-template-columns: 217px 60px 630px;
  position: relative;
  top: -55px;
  margin: 0;
}

.nav .case {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  font-size: 3rem !important;
  grid-area: case;
}

.nav .offer {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  font-size: 3rem !important;
  grid-area: offer;
}

.what-was-done {
  display: block !important;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -ms-grid-columns: 343px 830px !important;
  grid-template-columns: 343px 830px !important;
  -ms-grid-rows: 230px !important;
  grid-template-rows: 230px !important;
  max-width: 90% !important;
  margin: 70px auto 0 auto !important;
}

.what-was-done > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.what-was-done > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.what-was-done__title {
  margin: 0;
  font-size: 6rem;
}

.what-was-done__content-container {
  display: -ms-grid !important;
  display: grid !important;
  height: 100% !important;
  max-width: 100% !important;
  grid-template-columns: repeat(auto-fit, minmax(100px, 390px)) !important;
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  grid-row-gap: 50px !important;
  margin: 70px 0 0 0 !important;
}

.what-was-done__item {
  -webkit-border-radius: 10px !important;
          border-radius: 10px !important;
  position: relative !important;
  height: 65% !important;
  max-width: initial !important;
  width: 100% !important;
  background: #49475A !important;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear !important;
  border: 1px solid #13535A !important;
  text-align: center !important;
  line-height: 1.9rem !important;
  font-size: 1.5rem !important;
  padding: 40px 0 !important;
}

.what-was-done__item-title {
  margin: 0 0 15px 0;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 50px auto 0 auto;
}

.footer .arrow {
  width: 100%;
}

.footer .services {
  max-height: 45px;
}

.footer .services span {
  display: block;
}

.footer:nth-of-type(2) {
  margin-top: 100px !important;
}

.footer:nth-of-type(3) {
  position: relative;
  z-index: 1;
}

.reasons-for-inefficiency {
  max-width: 90%;
  margin: auto;
}

.reasons-for-inefficiency__title {
  margin: 0 !important;
  font-size: 6rem !important;
}

.reasons-for-inefficiency .epicrisis {
  color: #fff;
  font-size: 1.5rem;
  display: block;
  margin-top: 50px;
  margin-left: 65px;
  position: relative;
}

.reasons-for-inefficiency .epicrisis .ex-mark {
  font-size: 11rem;
  position: absolute;
  top: -45px;
  left: -65px;
  color: #2FFFFF;
}

.business-objectives {
  max-width: 90%;
  margin: 0px auto;
}

.business-objectives__title {
  margin: 0;
  font-size: 6rem;
}

.business-objectives__img {
  left: -65px !important;
  right: auto !important;
  top: 0 !important;
  padding: 0 !important;
  width: 43px !important;
  height: 43px !important;
}

.business-objectives__content-container {
  margin: 50px 0 0 0 !important;
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  width: 100% !important;
  grid-template-columns: repeat(auto-fit, minmax(100px, 386px)) !important;
}

.business-objectives__item {
  background: none !important;
  border: none !important;
  font-size: 1.4rem !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  top: 10px;
  left: 65px;
}

.business-objectives__item:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.at-the-time-of-cooperation {
  margin: auto;
  max-width: 90%;
}

.at-the-time-of-cooperation__title {
  margin: 0;
  font-size: 6rem;
}

.at-the-time-of-cooperation .grid-container {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  max-width: 88%;
}

.at-the-time-of-cooperation .grid-container__img {
  top: 0;
  left: -66px;
  right: auto;
  height: 42px;
  width: 42px;
  padding: 0;
}

.at-the-time-of-cooperation .grid-container__item {
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 100%;
  background: transparent;
  border: none;
}

.at-the-time-of-cooperation .grid-container__item:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.total-results {
  max-width: 90%;
  margin: auto;
}

.total-results__title {
  margin: 0;
  font-size: 6rem;
}

.total-results .grid-container {
  display: -ms-grid !important;
  display: grid !important;
  height: 100% !important;
  max-width: 100% !important;
  grid-template-columns: repeat(auto-fit, minmax(100px, 250px)) !important;
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  grid-row-gap: 50px !important;
  margin: 70px 0 0 0 !important;
}

.total-results .grid-container__item {
  position: relative !important;
  max-width: initial !important;
  background: transparent !important;
  border: none !important;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear !important;
  line-height: 1.9rem !important;
  font-size: 1.5rem !important;
}

.total-results .grid-container__item:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.total-results .grid-container__item-title {
  margin: 15px 0;
  font-size: 2rem;
}

/* @import "smart-grid"; */

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'Gilroy-Medium';
  background: #151420;
}

body {
  overflow-x: hidden;
}

.btn {
  max-width: 175px;
  max-height: 108px;
  background: #5243FF;
  border: none;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  z-index: 1;
}

.btn:hover {
  -webkit-box-shadow: 0 0 12px #5243FF;
  box-shadow: 0 0 12px #5243FF;
}

.btn_find {
  width: 133px;
  height: 100%;
  left: 967px;
  top: 78px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn_find__img {
  height: 15px;
  margin-right: 9px;
}

.btn_upload-resume {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #EFEFFC;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn_upload-resume:hover {
  -webkit-box-shadow: 0 0 12px #aaa;
  box-shadow: 0 0 12px #aaa;
}

.text_montserrat-extra-light {
  font-family: 'Montserrat-Extra-Light';
}

.text_montserrat-light {
  font-family: 'Montserrat-Extra-Light';
}

.text_montserrat-medium {
  font-family: 'Montserrat-Medium';
}

.text_montserrat-regular {
  font-family: 'Montserrat-Regular';
}

.text_montserrat-bold {
  font-family: 'Montserrat-Bold';
}

.text_montserrat-extra-bold {
  font-family: 'Montserrat-Extra-Bold';
}

.text_gilroy-light {
  font-family: 'Gilroy-Light';
}

.text_gilroy-regular {
  font-family: 'Gilroy-Regular';
}

.text_gilroy-medium {
  font-family: 'Gilroy-Medium';
}

.text_gilroy-bold {
  font-family: 'Gilroy-Bold';
}

.text_gilroy-extra-bold {
  font-family: 'Gilroy-Extra-Bold';
}

.text_gradient {
  background: -o-linear-gradient(right, #1FFF94, #00FFFF);
  background: -webkit-gradient(linear, right top, left top, from(#1FFF94), to(#00FFFF));
  background: linear-gradient(to left, #1FFF94, #00FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_no-br {
  white-space: nowrap;
}

.bg_gradient {
  background: -o-linear-gradient(right, #1FFF94, #00FFFF);
  background: -webkit-gradient(linear, right top, left top, from(#1FFF94), to(#00FFFF));
  background: linear-gradient(to left, #1FFF94, #00FFFF);
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 256px));
  grid-row-gap: 50px;
  margin: 85px auto 0 auto;
}

.grid-container__item {
  background: #49475A;
  max-width: 80%;
  border: 1px solid #13535A;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
}

.grid-container__item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 6.92082px 30.2786px #aca9c8;
  box-shadow: 0px 6.92082px 30.2786px #aca9c8;
}

.grid-container__item_tall {
  font-family: 'Montserrat-Extra-Light';
  border: 2px solid rgba(0, 0, 0, 0.18);
  min-height: 125px;
}

.grid-container__item_tall:hover {
  -webkit-box-shadow: 0px 6.92082px 30.2786px rgba(0, 0, 16, 0.3);
  box-shadow: 0px 6.92082px 30.2786px rgba(0, 0, 16, 0.3);
}

.grid-container__img {
  -webkit-border-radius: 80%;
  border-radius: 80%;
  height: 10px;
  width: 10px;
  padding: 10px;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
  position: absolute;
  top: -16px;
  left: 0;
  right: 0;
  margin: auto;
}

.grid-container__img:hover {
  -webkit-box-shadow: 0 0 15px #49BFF9;
  box-shadow: 0 0 15px #49BFF9;
}

.grid-container__title {
  margin: 0;
  font-size: 6rem;
}

.grid-container__desc {
  font-size: 1.5rem;
}

.etc {
  display: block;
  font-family: 'Montserrat-Medium';
  font-size: 2.35rem;
  position: relative;
  margin-top: 70px;
}

.color_purple {
  color: #5243FF;
}

.color_grey {
  color: #777;
}

.color_white {
  color: #fff;
}

.color_dark-blue {
  color: #3582C8;
}

.color_light-blue {
  color: #30E3FF;
}

.color_light-green {
  color: #18FFAA;
}

.purple-line {
  max-width: 177px;
  position: absolute;
  top: -22px;
  left: 0;
  right: 0;
  margin: auto;
}

.select {
  grid-area: search;
  width: 100%;
  height: 44px;
  left: 550px;
  top: 74px;
  padding-left: 10px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.select:focus {
  outline: none;
}

.burger {
  display: none;
  cursor: pointer;
  position: relative;
  background: none;
  border: 2px solid #fff;
  height: 35px;
  width: 37px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 28px;
  width: 30px;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  display: block;
  background: #fff;
  width: 85%;
  height: 5px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.burger .line1 {
  top: 5px;
}

.burger .line2 {
  top: 13px;
}

.burger .line3 {
  top: 20px;
}

.burger_close .line1,
.burger_close .line2 {
  top: 45%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger_close .line3 {
  top: 45%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile-menu {
  position: absolute;
  bottom: 30px;
  right: 0;
  height: 150px;
  max-width: 110px;
  padding: 12px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #000;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity .25s linear .25s, height 0s linear 0s;
  -o-transition: opacity .25s linear .25s, height 0s linear 0s;
  transition: opacity .25s linear .25s, height 0s linear 0s;
}

.mobile-menu .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hint {
  font-family: 'Montserrat-Regular';
  position: absolute;
  top: auto;
  bottom: 33px;
  right: -233px;
  background: #fff;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  max-height: 32px;
  width: 58%;
  min-width: 215px;
  padding: 6px 10px;
  font-size: 0.8rem;
  line-height: 1.1rem;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity .5s linear 0s, height 0s linear .5s;
  -o-transition: opacity .5s linear 0s, height 0s linear .5s;
  transition: opacity .5s linear 0s, height 0s linear .5s;
}

.hint_show {
  height: auto;
  opacity: 1;
  -webkit-transition: opacity .5s linear .5s, height 0s linear 0s;
  -o-transition: opacity .5s linear .5s, height 0s linear 0s;
  transition: opacity .5s linear .5s, height 0s linear 0s;
}

.hint__img {
  position: absolute;
  left: 13px;
  bottom: -9px;
  max-width: 20px;
  -webkit-transform: rotateZ(-90deg) scaleY(-1);
  -ms-transform: rotate(-90deg) scaleY(-1);
  transform: rotateZ(-90deg) scaleY(-1);
}

.height_0 {
  height: 0;
}

/* 
.items{
    @include row-flex();/*создаст строку флексами
    @include row-float();/*создаст строку флотами
    @include md(justify-content, center); /*выровняй по центру начиная с 992px

    .item{
        @include col();станьте столбцами
        @include size(3);/*станьте столбцами занимающими 3 колонок везде
        @include size-lg(3);/*станьте столбцами занимающими 3 колонок начиная с 1200px
        @include size-md(4);/*станьте столбцами занимающими 4 колонок начиная со 992px
        @include size-sm(6);/*станьте столбцами занимающими 6 колонок начиная со 720pxpx
        @include size-xs(12);/*станьте столбацим занимающими 12 колонок начиная с 576px
    }
}

*/

@media screen and (max-width: 1300px) {
  .nav .page-title {
    max-width: 625px !important;
  }

  .nav .desc {
    max-width: 625px !important;
    -ms-grid-column-align: end !important;
        justify-self: end !important;
  }

  .footer:nth-of-type(1) {
    margin: 150px auto 0 auto !important;
  }

  /*use it*/

  .footer .logo {
    max-width: 100px;
  }

  .at-the-time-of-cooperation {
    margin-top: 50px !important;
  }

  .total-results {
    margin-top: 50px;
  }

  .total-results__title {
    margin: 0;
  }

  .total-results .empty {
    display: none;
  }

  html,
  body {
    font-size: 8px;
  }
}

@media screen and (max-width: 1000px) {
  .nav .headline {
    -ms-grid-columns: 130px minmax(640px, 864px);
    grid-template-columns: 130px minmax(640px, 864px);
  }

  .nav .headline .page-title {
    max-width: 451px !important;
    -ms-grid-column-align: start;
        justify-self: start;
    margin-left: 30px;
  }

  .nav .headline .desc {
    max-width: 535px !important;
    -ms-grid-column-align: self-start !important;
        justify-self: self-start !important;
  }

  .footer .arrow {
    width: 80%;
  }

  .at-the-time-of-cooperation .grid-container__item {
    left: 40px !important;
  }

  br {
    display: none;
  }

  .title {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    min-height: 150px !important;
  }

  .nav .headline .logo {
    max-width: 100px !important;
  }

  .nav .headline .desc {
    font-size: 2rem !important;
    max-width: 44% !important;
  }

  .what-was-done .grid-container {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }

  .what-was-done .grid-container__item {
    line-height: 2.9rem !important;
    font-size: 2.5rem !important;
    padding: 40px 0 !important;
  }

  .what-was-done .grid-container__item .what-was-done__item-title {
    margin: 7px 10px;
  }

  .what-was-done .grid-container__item .desc {
    display: block;
    max-width: 95%;
    margin: auto;
  }

  .business-objectives {
    margin-top: 50px !important;
  }

  .total-results .grid-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 0px !important;
  }
}

@media screen and (max-width: 650px) {
  .footer:nth-of-type(3) {
    margin-top: 40px;
    width: 90%;
  }

  .business-objectives__title {
    font-size: 4rem;
  }

  .business-objectives .grid-container {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
    grid-auto-rows: 50px !important;
    grid-row-gap: 10px;
  }

  .business-objectives .grid-container__item {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }

  .business-objectives .grid-container__img {
    width: 35px !important;
    height: 35px !important;
  }

  .at-the-time-of-cooperation .grid-container__item {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .at-the-time-of-cooperation__title {
    font-size: 4rem;
  }

  .at-the-time-of-cooperation .grid-container {
    margin: 25px auto 0 auto;
    grid-row-gap: 15px;
  }

  .at-the-time-of-cooperation .grid-container__item {
    font-size: 2rem;
    line-height: 2.5rem;
    position: relative;
    max-width: 75%;
  }

  .at-the-time-of-cooperation .grid-container__img {
    left: -50px;
    height: 30px;
    width: 30px;
  }

  .total-results__title {
    font-size: 5rem !important;
    max-width: 100% !important;
  }

  .total-results .grid-container {
    font-size: 2.5rem !important;
    line-height: 3rem !important;
  }

  .total-results .grid-container__item {
    font-size: 2.5rem !important;
    line-height: 3rem !important;
  }

  .total-results .grid-container__item-title,
  .total-results .grid-container__item .grid-container__desc {
    font-size: 2.5rem !important;
    line-height: 3rem !important;
  }

  html,
  body {
    font-size: 5px;
  }

  .nav .burger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-self: end;
    height: 28px;
    width: 30px;
  }

  .nav .burger__line {
    height: 3px;
  }

  .nav .mobile-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .mobile-menu .nav__item {
    display: block;
    cursor: pointer;
  }

  .mobile-menu .number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .nav .mobile-menu {
    bottom: -135px;
  }

  .nav-footer .mobile-menu {
    bottom: 47px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    width: 85%;
    margin: 0 auto;
    /* use it! */
  }

  .footer .logo {
    max-width: 55px;
  }

  .footer .arrow {
    max-width: 70%;
  }

  .footer .services {
    max-width: 40px;
    font-size: 2rem;
  }

  .footer:nth-of-type(4) {
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .nav .headline {
    -ms-grid-columns: 50px 7px 1fr;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 7px !important;
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }

  .nav .headline .logo {
    max-width: 40px !important;
    -webkit-align-self: start;
        -ms-flex-item-align: start;
                -ms-grid-row-align: start;
            align-self: start;
    margin-top: 10px;
  }

  .nav .headline .page-title {
    max-width: 181px !important;
    font-size: 7rem;
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .nav .headline .desc {
    max-width: 92% !important;
    -ms-grid-column-align: end !important;
        justify-self: end !important;
  }

  .what-was-done__title {
    font-size: 4rem;
  }

  .what-was-done .grid-container {
    margin: 40px 0 0 0 !important;
  }

  .footer:nth-of-type(1) {
    margin: 50px auto 0 auto !important;
  }

  .business-objectives {
    margin-top: 10px !important;
  }

  .business-objectives .grid-container {
    margin-top: 20px !important;
  }

  .total-results .grid-container {
    margin-top: 20px !important;
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
  }

  .total-results .grid-container__item {
    font-size: 3rem !important;
    line-height: 3.5rem !important;
  }

  .total-results .grid-container__item span,
  .total-results .grid-container__item h4 {
    font-size: inherit !important;
    line-height: inherit !important;
  }
}

@media screen and (max-width: 350px) {
  .footer {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer .arrow {
    max-width: 50%;
  }

  .business-objectives .grid-container {
    grid-auto-rows: auto !important;
    grid-row-gap: 30px;
  }

  .business-objectives .grid-container__item {
    top: 10px;
    left: 50px;
  }

  .business-objectives .grid-container__img {
    left: -45px !important;
    width: 25px !important;
    height: 25px !important;
  }
}

@media screen and (max-width: 300px) {
  .nav .headline {
    -ms-grid-columns: 25px 1fr;
    grid-template-columns: 25px 1fr;
  }

  .nav .headline .logo {
    max-width: 25px !important;
  }

  .nav .headline .page-title {
    font-size: 5rem;
  }
}