$fontSize: 10px;


$purple: #5243FF;

$heightOfWhiteNavElems: 22px;
$paddingOfWhiteNavElems: 5px;

$emptyNavCellWidth: 355px;

$gridContainerImgSize: 10px;
$minWatchHeight: -30px;

$questionImgSize: 10px;