block at-the-time-of-cooperation

section.at-the-time-of-cooperation
    h2.title.at-the-time-of-cooperation__title.title.text_gradient В МОМЕНТ НАЧАЛА #[br] СОТРУДНИЧЕСТВА
    
    div.grid-container.at-the-time-of-cooperation__content-container
        
        div.grid-container__item
            img.grid-container__img(src="assets/img/at-the-time-of-cooperation/circle.svg")
            span.color_white.text_gilroy-light У компании 
                span.text_gilroy-bold не было понимания #[br] эффективности рекламы
                span.text_gilroy-light  как таковой
                    
        div.grid-container__item
            img.grid-container__img(src="assets/img/at-the-time-of-cooperation/circle.svg")
            span.color_white.text_gilroy-bold Отсутствующие 
                span.text_gilroy-light на складе товары #[br] все равно рекламировались
                    
        div.grid-container__item
            img.grid-container__img(src="assets/img/at-the-time-of-cooperation/circle.svg")
            span.color_white.text_gilroy-bold Цели не отражали реальные обращения #[br] 
                span.text_gilroy-light (были настроены на нажатие на кнопку «добавить в корзину», что в принципе #[br] не являлось обращением, микроконверсии никто не считал)
                    
        div.grid-container__item
            img.grid-container__img(src="assets/img/at-the-time-of-cooperation/circle.svg")
            span.color_white.text_gilroy-bold Непонимание расходов по каналу CPA
                span.text_gilroy-light  (После подключения CPA-сети, #[br] компания стала получать 30% продаж по каналу промокодов, при этом #[br] суммарное количество продаж не увеличилось, а лишь перераспределилось #[br] на источник CPA-сети с промокодными партнерами. 
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                