block business-objectives

section.business-objectives
    h2.business-objectives__title.title.text_gradient БИЗНЕС-ЗАДАЧИ
    div.grid-container.business-objectives__content-container
        div.grid-container__item.business-objectives__item
            img.grid-container__img.business-objectives__img(src="assets/img/business-objectives/01.svg")
            span.color_white.text_gilroy-bold Перенастроить цели на сайте  #[br] 
                span.color_white.text_gilroy-light таким образом, чтобы  #[br] фиксировались только реально  #[br] отправленные заявки
        div.grid-container__item.business-objectives__item
            img.grid-container__img.business-objectives__img(src="assets/img/business-objectives/02.svg")
            span.color_white.text_gilroy-bold Настроить сквозную аналитику #[br] 
                span.color_white.text_gilroy-light в разрезе «ключевое #[br] слово/продажа»
        div.grid-container__item.business-objectives__item
            img.grid-container__img.business-objectives__img(src="assets/img/business-objectives/03.svg")
            span.color_white.text_gilroy-bold Реализовать товарный фид #[br] 
                span.color_white.text_gilroy-light для синхронизации товарных #[br] остатков с активной рекламой #[br] на поиске (отображать, когда #[br] есть в наличии/не отображать, когда нет в наличии)
        div.grid-container__item.business-objectives__item
            img.grid-container__img.business-objectives__img(src="assets/img/business-objectives/04.svg")
            span.color_white Перенастроить рекламные #[br] компании 
                span.color_white.text_gilroy-light для их большей #[br] эффективности
        div.grid-container__item.business-objectives__item
            img.grid-container__img.business-objectives__img(src="assets/img/business-objectives/05.svg")
            span.color_white Выяснить эффективность #[br] CPA-партнеров
        div.grid-container__item.business-objectives__item
            img.grid-container__img.business-objectives__img(src="assets/img/business-objectives/06.svg")
            span.color_white Подключить новые каналы #[br] трафика: 
                span.color_white.text_gilroy-light Яндекс. Маркет, Ozon, #[br] Юла, Google Merchant
            