block footer

footer.footer
    a.logo.text_gilroy-medium(href="#") ümark.it 
    img.arrow(src="assets/img/footer/arrow.svg")
    div.services.color_white.text_gilroy-medium 
        span Marketing
        span consulting
        span company