doctype html
html(lang='ru')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/style.min.css')
    script(src='js/main.js')
    title= 'smarpprice'
  body
    include ./nav.pug
    include ./business-objectives.pug
    include ./footer.pug
    include ./at-the-time-of-cooperation.pug
    include ./what-was-done.pug
    include ./footer.pug
    include ./total-results.pug
    include ./footer.pug