block nav

nav.nav
    div.headline
        img.logo(src="assets/img/nav/logo.svg")
        span.page-title.text_gilroy-extra-bold.color_dark-blue smart
            span.text_gilroy-bold.color_white price
        span.desc Компания занимается выкупом мобильных телефонов #[br] у партнеров и физических лиц. С последующей #[br] диагностикой, модульным ремонтом и продажей.  