block reasons-for-inefficiency

section.reasons-for-inefficiency
    h2.reasons-for-inefficiency__title.title.text_gilroy-bold.text_gradient Причины неэффективности
    span.epicrisis.text_gilroy-light Эпикриз: не отслеживалась эффективность контекстной #[br] рекламы. В отчётах не отражались конверсии. Бюджет #[br] на контекстную рекламу составлял 3 000 000
        span.ex-mark.text_gilroy-extra-bold !