block total-results

section.total-results
    h2.total-results__title.title.text_gradient ИТОГИ СОТРУДНИЧЕСТВА
    
    div.grid-container.total-results__content-container.color_white
        
        div.grid-container__item
            h4.grid-container__item-title.color_light-green Авито 
            span.grid-container__desc.text_gilroy-bold Автоматическая выкладка #[br] объявлений товаров, #[br]
            span.text_gilroy-light присутствующих на складе и #[br] отключение объявлений с #[br] отсутствующими товарами #[br] через товарный фид
            
        div.grid-container__item
            h4.grid-container__item-title.color_light-green Юла
            span.grid-container__desc.text_gilroy-light Запустили рекламу на Москву, #[br] 
                span.text_gilroy-bold масштабировали 
                span.text_gilroy-light на #[br] Краснодар, Сочи, Казань, #[br] Новосибирск и Екатеринбург, #[br] Нижний Новгород. 
                span.text_gilroy-bold Стоимость #[br] продажи составила 
                    span.text_no-br 400 ₽ 
            
        div.grid-container__item
            h4.grid-container__item-title.color_light-green Яндекс. Директ
            span.grid-container__desc.text_gilroy-light Снизили стоимость обращения #[br] с источника 
                span.text_gilroy-bold с 
                    span.text_no-br 10 000 ₽ 
                    span до 
                    span.text_no-br 800 ₽
            
        div.grid-container__item
            h4.grid-container__item-title.color_light-green Ozon
            span.grid-container__desc.text_gilroy-bold 
                span.text_no-br +600 
                span дополнительных #[br]
                span.text_gilroy-light продаж в месяц
            
            
            
        div.grid-container__item
            h4.grid-container__item-title.color_light-green Яндекс. Маркет
            span.grid-container__desc.text_gilroy-light После запуска стоимость #[br] продажи составила 
            span.text_no-br 4 300 ₽. #[br] 
            span.text_gilroy-bold Через 3 месяца оптимизации #[br] цена продажи составила 
            span.text_no-br.text_gilroy-bold 850 ₽
            
        div.grid-container__item
            h4.grid-container__item-title.color_light-green CallTracking
            span.grid-container__desc.text_gilroy-light Снижение стоимости #[br] коллтрекинга 
                span.text_gilroy-bold с 
                    span.text_no-br 250 000 ₽ 
                    span #[br] до 
                    span.text_no-br 50 000 ₽ 
                
        div.grid-container__item
            h4.grid-container__item-title.color_light-green Google Ads
            span.grid-container__desc.text_gilroy-light Снизили стоимость обращения с источника 
                span.text_gilroy-bold с 
                span.text_gilroy-bold.text_no-br 6 000 ₽ 
                span.text_gilroy-bold до 
                span.text_gilroy-bold.text_no-br 600 ₽ 
            
        div.grid-container__item.empty
            
            
        div.grid-container__item
            h4.grid-container__item-title.color_light-green Google Merchant
            span.grid-container__desc.text_gilroy-bold Запустили магазин. 
                span.text_gilroy-light Получили #[br] 50 продаж/месяц по цене #[br] 
                span.text_no-br 20 ₽/продажа 
                span.text_gilroy-bold + огромное #[br] количество трафика по цене #[br] от 3 до 11 копеек
                
        div.grid-container__item
            h4.grid-container__item-title.color_light-green.text_no-br 300 000 ₽ 
            span.grid-container__desc.text_gilroy-bold Сэкономили 
                span.text_gilroy-light за счет #[br] отключения промокодных #[br] площадок, после чего #[br] получили достоверную аналитику по каналам #[br] привлечения
        div.grid-container__item
            h4.grid-container__item-title.color_light-green Power BI
            span.grid-container__desc.text_gilroy-light Внедрив Power BI получили #[br] удобные визуализированные #[br] дашборды, таблицы и отчеты, #[br] обновляющиеся в режиме #[br] реального времени.
                
        div.grid-container__item
            h4.grid-container__item-title.color_light-green Выручка ↑ на 30%
            span.text_gilroy-light Увеличили выручку за счет #[br] подключения дополнительных #[br] источников трафика и #[br] маркетплейсов и как #[br] следствие получили #[br] дополнительные продажи