block total

section.total
    div.overlay.total__overlay
    h2.title.total__title.text_gradient ИТОГ
    div.grid-container.total__content-container
        ul.schedule
            li После настройки целей и получения достоверных #[br] данных, мы обнаружили, что большинство рекламных #[br] кампаний были неээфективны. 
            li Определили перспективные направления для #[br] рекламирования в контекстной рекламе.
            li По итогу оптимизаций РК, удалось сэкономить 1 млн #[br] руб в месяц без потери количества лидов и пациентов
            li Разработали мультилендинг с подменой контента, в зависимости от ключевого запроса пользователя благодаря чему затраты на привлечение лида снизили на 25% . 
            li Количество клиентов на услуги МРТ и КТ увеличили на #[br] 15% с помощью мультилендинга.
        img(src="assets/img/total/schedule.jpg").schedule-img