block what-was-done

section.what-was-done
    h2.what-was-done__title.text_gradient.text_gilroy-bold ЧТО БЫЛО СДЕЛАНО:
    div.grid-container.what-was-done__content-container
        div.what-was-done__item.grid-container__item.text_gilroy-light.color_white
            img.grid-container__img.bg_gradient.check(src="assets/img/what-was-done/check.svg")
            h4.what-was-done__item-title.text_gilroy-bold.color_light-green Разработано ТЗ для разработчиков по #[br] созданию товарного фида
            span.desc.text_gilroy-light обновляющимся в режиме реального времени #[br] с актуальными остатками товаров на складе

        div.what-was-done__item.grid-container__item.text_gilroy-light.color_white
            img.grid-container__img.bg_gradient.check(src="assets/img/what-was-done/check.svg")
            h4.what-was-done__item-title.text_gilroy-bold.color_light-green Счетчики аналитики были перенастроены #[br] через Google Tag Manager
            span.desc целевые действия были размечены JavaScript #[br] событиями, что позволило нам фиксировать #[br] конверсии, относящиеся только к реальным #[br] обращениям
            
        div.what-was-done__item.grid-container__item.text_gilroy-light.color_white
            img.grid-container__img.bg_gradient.check(src="assets/img/what-was-done/check.svg")
            h4.what-was-done__item-title.text_gilroy-bold.color_light-green Для реализации сквозной аналитики #[br] использовали Microsoft Power BI
            span.desc с подключением к различным источникам #[br] (SQL, Яндекс. Директ, Google Ads и пр.), были #[br] разработаны необходимые справочники для #[br] связи таблиц
            
        div.what-was-done__item.grid-container__item.text_gilroy-light.color_white
            img.grid-container__img.bg_gradient.check(src="assets/img/what-was-done/check.svg")
            h4.what-was-done__item-title.text_gilroy-bold.color_light-green Разработали ТЗ для интеграции по API #[br] с площадкой Ozon
            span.desc Результат: 600 телефонов/месяц с этой #[br] площадки.
            
        div.what-was-done__item.grid-container__item.text_gilroy-light.color_white
            img.grid-container__img.bg_gradient.check(src="assets/img/what-was-done/check.svg")
            h4.what-was-done__item-title.text_gilroy-bold.color_light-green Разработали товарный фид #[br] для Юлы
            span.desc Получили 70 продаж/месяц по цене 500 #[br] рублей/продажа
            
        div.what-was-done__item.grid-container__item.text_gilroy-light.color_white
            img.grid-container__img.bg_gradient.check(src="assets/img/what-was-done/check.svg")
            h4.what-was-done__item-title.text_gilroy-bold.color_light-green Разработали товарный фид для Google #[br] Merchant, запустили магазин.
            span.desc Получили 50 продаж/месяц по цене 10 #[br] рублей/продажа
            
        div.what-was-done__item.grid-container__item.text_gilroy-light.color_white
            img.grid-container__img.bg_gradient.check(src="assets/img/what-was-done/check.svg")
            h4.what-was-done__item-title.text_gilroy-bold.color_light-green Создание искусственной семантики на #[br] основании товарного фида с помощью #[br] сервиса Alytics
            span.desc Полная перенастройка рекламных кампаний #[br] с использованием товарного фида. После #[br] этого в рекламе отображались только товары, #[br] присутствующие на складе
            
        div.what-was-done__item.grid-container__item.text_gilroy-light.color_white
            img.grid-container__img.bg_gradient.check(src="assets/img/what-was-done/check.svg")
            h4.what-was-done__item-title.text_gilroy-bold.color_light-green После нашего исследования трафика от #[br] партнера AdvCake выяснили, что они #[br] занимались «каннибализацией трафика»
            span.desc — перезаписью источников трафика своими #[br] метками, проще говоря, продажей компании ее #[br] же клиентов, только уже с комиссией партнера. #[br] Отказались от услуг промокодных площадок.
            
        div.what-was-done__item.grid-container__item.text_gilroy-light.color_white
            img.grid-container__img.bg_gradient.check(src="assets/img/what-was-done/check.svg")
            h4.what-was-done__item-title.text_gilroy-bold.color_light-green Впервые были достигнуты договоренности #[br] с Яндексом о размещении уцененных и б/у #[br] товаров на площадке Яндекс. Маркет.
            span.desc Для этого была реализована совместная #[br] работа разработчиков Яндекс. Маркет и #[br] нашими разработчиками. SmartPrice – первый #[br] подключенный магазин уцененных товаров, #[br] размещенный на Яндекс. Маркете.